/*POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

body{
    background: url("../images/home/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: auto;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: relative;
    z-index: 1000;
}

.navbar .title {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    /* padding: 8px 16px; */
    padding-right: 8px;
}

.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.link:hover, .active{
    border-bottom: 2px solid #fff;
}

/* Picture Row */
.picture-row {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 100px; 
}

.picture-row::-webkit-scrollbar {
    display: none; 
}

.picture-row img {
    width: 200px; 
    height: auto; 
    margin-right: 10px; 
}


.video-row {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 50px; 
}



.video-row iframe {
    width: 350px; 
    height: 315px; 
    margin-right: 10px;
    margin-left: 10px; 
}




.button-container {
    text-align: center;
    margin-top: 20px; 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0a396c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
}

.button:hover {
    background-color: #0056b3;
}



.marquee-container {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.marquee-image {
    width: auto; 
    height: 350px;
    margin-bottom: 50px; 
}
.content {
    margin: 20px;
}
.new-goal, .our-services {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-goal .content, .our-services .content {
    max-width: 500px;
    margin-left: 20px;
}
.market-news {
    margin: 20px;
}
.market-news h2 {
    margin-bottom: 20px;
    text-align: center;
}
.news-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news-item {
    display: flex;
    flex-direction: row;
    background: white;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}
.news-item img {
    max-width: 100px;
    margin-right: 20px;
}
.news-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news-item h3 {
    margin: 0;
}
.news-item p {
    margin: 5px 0 0 0;
}
.news-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
a.news-item {
    text-decoration: none;
    color: inherit;
}
a.news-item h3, a.news-item p {
    color: inherit;
}

.resources {
    margin: 20px;
}
.resources h2 {
    margin-bottom: 20px;
    text-align: center;
}

